@charset "UTF-8";

html, body {
	height: 100%;
	margin: 0;
}

/* CABECERA */
.cabeceraArriba {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.1vw;;
	color: black;
	background-color: #43a624;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.logo img {
	width: 155%;
	height: 155%;
	object-fit: contain;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

button.botonCabeceraContactar {
	width: 100%;
	font-size: 0.9vw;
	border-radius: 15px;
	background-color: #004000;
	color: white;
	border: 1px solid #d1d1d1;
	text-decoration: none;
}

button.botonCabeceraContactar:hover {
	background-color: #1c0101;
	border: 1px solid #004000
}

.cabeceraMedioTitulo {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3.6vw;
	color: black;
	background-color: white;
	text-align: center;
	font-weight: bold;
}

.cabeceraMedio {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.13vw;
	color: #1d6212;
	background-color: white;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.letraCabeceraMedio {
	text-decoration: none;
	color: #1d6212;
}

.letraCabeceraMedio:hover {
	color: black;
}

button.botonRegistrarCabecera {
	--bs-btn-padding-y: 1.5px;
	--bs-btn-padding-x: 9px;
	--bs-btn-font-size: 70%;
	border-radius: 3px;
	background-color: #99ff34;
	color: black;
	font-weight: bold;
	border: 1px solid #000000;
	font-size: 1.4vw;
	transition: background-color 0.3s ease;
}

button.botonRegistrarCabecera:hover {
	background-color: #d9ffb4;
	color: black;
}

button.botonRegistrarCabecera:active {
	background-color: #004000;
	color: white;
}

.cabeceraAbajo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.65vw;
	color: white;
	background-color: #004000;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.cabeceraAbajoBusqueda {
	display: flex;
	align-items: center;
	justify-content: right;
	color: white;
	background-color: #004000;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.letraCabeceraAbajo {
	text-decoration: none;
	color: white;
}

.letraCabeceraAbajo:hover {
	color: #d1d1d1;
}

/* FOOTER */
.pieDePagina {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	background-color: #282828;
	color: white;
	text-align: center;
	text-decoration: none;
}

footer {
	background-color: #282828;
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;
	
	width: 100%;
	position: relative;
	/* Permite que el footer fluya naturalmente después del contenido */
	z-index: 5;
	/* Asegura que el footer se quede por debajo del menú lateral y no se solape */
}

/* ADMINISTRADOR */
.menuLateral {
	padding: 7px;
	font-size: 1.5vw;
	font-family: 'Open Sans', sans-serif;
	background-color: #43a624;
	color: white;
	position: fixed;
	height: 100%;
	
}

/*intentar pegar col-10 con algun comando a la derecha*/
.contenido {
	width: 100%;
	height: 100%;
	
}



/* REGISTRAR */
.botonSeleccion {
	font-size: 1.2vw;
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-weight: bold;
	width: 100%;
	display: block;
	border: 1.5px solid black;
	border-radius: 3px;
	font-style: italic;
}
.botonSeleccion:active{
	background-color:  #d4af37;
}

.botonSeleccion:hover {
	transform: scale(1.2);
}

.registrarFormulario {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
	width: 100%;
	font-size: 1.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-weight: bold;
	font-style: italic;
}

.tablaFormulario {
	width: 100%;
	margin-bottom: 1rem;
	color: black;
	background-color: #142800;
	
	
	
}

.tablaFormulario td, tr {
	padding: 8px;
	vertical-align: top;
	border: 1.2px solid #eeeeee;
	width: 50%;
}


.formularioLabel {
	font-weight: bold;
	font-size: 1.2vw;
}
